<div>
	<p>Goal: Build a JavaScript web client for Trello. The client should be able to....</p>
	<p>
		<ol>  
			<li>Create a board <span class="glyphicon glyphicon-check"></span></li>
			<li>Add a card to the board <span class="glyphicon glyphicon-check"></span></li>  
			<li>List the cards added to the board <span class="glyphicon glyphicon-check"></span></li>
		</ol>
	</p>
</div>

<div>
	<p>Built using:</p>
	<p>
		<ul>  
			<li>yeoman - with the angular-gulp generator</li>
			<li>angular-bootstrap - for the modal ui component</li>
			<li>trello's client.js</li>
			<li>tested using mocha, sinon, and chai</li>
			<li>lodash - for data manipulation</li>
		</ul>
	</p>

	<p>Other considerations:</p>
	<p>
		<ul>  
			<li>Unit Tests <span class="glyphicon glyphicon-check"></span></li>
			<li>E2E Tests <span class="glyphicon glyphicon-ban-circle"></span></li>
			<li>Input Validation <span class="glyphicon glyphicon-ban-circle"></span></li>
			<li>Error Condition Handling <span class="glyphicon glyphicon-ban-circle"></span></li>
		</ul>
	</p>
</div>

<div ng-show="!vm.isAuthorised()">
	<p>To have a play, get started by authorising this client:</p>
	<input class="btn btn-primary" ng-click="vm.connect()" value="Connect to Trello" />
</div>

<div ng-show="vm.isAuthorised()">
	<h2>Great, you've logged in.</h2>

	<p>Press the "New Board" button to create a board:</p>

	<p>
		<input class="btn btn-primary" ng-click="vm.createNewBoard()" value="New Board" />
	</p>

</div>
<div ng-show="vm.isAuthorised()">
	<p>Otherwise, here's your existing boards:</p>	
	<ul>
		<li ng-repeat='board in vm.boards'><a ng-href="#/board/{{board.id}}/">{{board.name}}</a></li>
	</ul>

</div>