<div>
	<div ng-show='!vm.isEditing'>
		<p><a ng-href='' ng-click='vm.isEditing = true'>Add a card...</a></p>
	</div>
	<form ng-show='vm.isEditing' ng-submit='vm.submit()'>
		<div class="input-group">
	  		<span class="input-group-addon">+</span>
	  		<input ng-model='vm.card.name'>
		</div>
		<div>
			<input ng-click="vm.cancel()" type="button" class="btn btn-default" value="Cancel" />
	    	<input type="submit" class="btn btn-primary" value="Submit" />
		</div>
	</form>
</div>