<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" aria-hidden="true">×</button>
    <h4 class="modal-title">New Board</h4>
  </div>
  <form ng-submit="vm.ok()">
	  <div class="modal-body">
	    	<label for="board-title">Title</label>
			<input id="board-title" ng-model="vm.board.name" type="text" placeholder="What are you planning..."></input>
	  </div>
	  <div class="modal-footer">
	    <input ng-click="vm.cancel()" type="button" class="btn btn-default" value="Cancel" />
	    <input type="submit" class="btn btn-primary" value="Submit" />
	  </div>
  </form>
</div>
