<div class="col-sm-4">
	<div class="panel panel-default">
	  <div class="panel-heading">{{list.name}}</div>
	  <ul class="list-group">
	    <li class="list-group-item" ng-repeat='card in list.cards'>{{card.name}}</li>
	    <li class="list-group-item">
	    	<st-card-composer list='list'></st-card-composer>
	    </li>
	  </ul>
	</div>
</div>